<!DOCTYPE html>
<html>
<head>
    <% include ../partial/head.ejs %>
    <link href="css/home.css" rel="stylesheet"/>
    <style>
        .wrapper .header {
            min-height: 90vh;
        }

        .main-raised {
            margin-top: -60vh;
        }

        .profile-content {
            min-height: 65vh;
        }
    </style>
</head>
<body class="profile-page">
<!-- Navbar -->
<nav class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll">
    <% include ../partial/navbar.ejs %>
</nav>
<!-- End Navbar -->
<div class="wrapper">
    <div class="header header-filter" style="background-image: url('/img/bg2.jpg');"></div>

    <div class="main main-raised">
        <div class="profile-content">
            <div class="container">
                <div class="row">
                    <div class="profile">
                        <div class="avatar">
                            <img src="<%= user.profileImageURL || '/img/default-avatar.png' %>" alt="<%= user.name %>"
                                 class="img-circle img-responsive img-raised">
                        </div>
                        <div class="name">
                            <h3 class="title"><%= user.displayName %></h3>
                            <h6 style="text-transform: lowercase"><%= user.mail %></h6>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <br/>
                        <h5>欢迎参加西安葡萄城编程挑战赛，这里可以查看和参加当前所有开放的比赛</h5>
                        <br/>
                        <table class="table table-hover">
                            <thead>
                            <tr class="muted-text">
                                <th class="text-center">#</th>
                                <th>名称</th>
                                <th>结束时间</th>
                                <th>进度</th>
                                <th>分数</th>
                                <th class="text-right">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% contests.forEach( (c, i) => { %>
                            <tr>
                                <td class="text-center"><%= i + 1 %></td>
                                <td>
                                    <% if (c.joined) { %>
                                    <a href="<%= `/contests/${c.name}` %>"><%= c.displayName %></a>
                                    <% } else { %>
                                    <%= c.displayName %>
                                    <% } %>
                                </td>
                                <td><%= c.end %></td>
                                <td><%= c.progress || 0 %>%</td>
                                <td><%= c.score || 0 %></td>
                                <td class="td-actions text-right">
                                    <% if (!c.joined && !c.open) { %>
                                    <button type="button" rel="tooltip" title="该比赛为内部比赛，请和管理员联系" disabled
                                            class="btn btn-success btn-simple btn-xs">
                                        <i class="fa fa-lock"></i>
                                    </button>
                                    <% } else if (!c.joined) { %>
                                    <form method="post" action="<%= `/contests/${c.name}` %>">
                                        <button type="submit" rel="tooltip" title="加入比赛"
                                                class="btn btn-success btn-simple btn-xs">
                                            <i class="fa fa-unlock"></i></button>
                                    </form>
                                    <% } else { %>
                                    <a type="button" rel="tooltip" title="继续比赛"
                                       class="btn btn-info btn-simple btn-xs"
                                       href="<%= `/contests/${c.name}` %>"><i class="fa fa-sign-in"></i></a>
                                    <% } %>
                                </td>
                            </tr>
                            <% }) %>
                            </tbody>
                        </table>
                        <div class="space-50"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include ../partial/footer.ejs %>
</div>
<% include ../partial/scripts.ejs %>
</body>
</html>