<!DOCTYPE html>
<html>
<% include partial/head.ejs %>
<body class="index-page">
<% include partial/navbar.ejs %>
<div class="wrapper">
    <div class="header header-filter" style="background-image: url('img/bg2.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="brand">
                        <h1>编程挑战赛</h1>
                        <h3><img src="img/grapecityxian.png" height="48" alt="西安葡萄城信息技术有限公司"/></h3>
                        <div class="text-center">
                            <a class="btn btn-lg btn-success" href="/dashboard">
                                <span style="font-size: large">参与挑战</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main main-raised">
        <div class="section section-basic">
            <div class="container">
                <div class="title">
                    <h2><i class="fa fa-paragraph"></i> 最新战报:
                        <small>
                            <a href="<%= `/contests/${contest.name}` %>">
                                <%= contest.displayName %></a>
                        </small>
                    </h2>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header" data-background-color="purple">
                                <i class="fa fa-tasks"></i>
                            </div>
                            <div class="card-content">
                                <p class="category">挑战题数</p>
                                <h3 class="title"><%= contest.problems.length %>
                                    <small>道</small>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header" data-background-color="orange">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="card-content">
                                <p class="category">参与人数</p>
                                <h3 class="title"><%= contest.userCount %>
                                    <small>人</small>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header" data-background-color="red">
                                <i class="fa fa-trophy"></i>
                            </div>
                            <div class="card-content">
                                <p class="category">最高分</p>
                                <h3 class="title"><%= contest.maxScore %>/
                                    <small><%= contest.problems.length * 100 %></small>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="space-100">
                </div>

                <div class="row text-center">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h2>规则和注意事项</h2>
                        <h5 class="text-left">规则解释权由西安葡萄城信息技术公司所有，如有变更，不做另行通知。<br/>
                            请自行关注<a href="/rules">详细规则页面</a></h5>
                        <div class="text-left">
                            <ul>
                                <li>赛事采用自动评测和计分系统，提交代码之后会自动编译并进行自动测试</li>
                                <li>评测系统会根据通过的用例数来计分，每题满分为100，积分规则为：{得分}={通过的用例数}<sup>2</sup></li>
                                <li>多次提交会扣分，除第一次提交，其他每次提交扣除5分，最高扣除25分</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section-video">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-8 col-md-offset-2">
                        <h2>更多帮助?</h2>
                        <h4>我们精心准备了一些入门视频，你可以在这里点播</h4>
                    </div>
                    <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4">
                        <a href="/videos" class="btn btn-upgrade btn-lg" target="_blank">
                            全部视频
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include partial/footer.ejs %>
</div>
<% include partial/scripts.ejs %>
</body>
</html>