<!DOCTYPE html>
<html>
<head>
    <% include partial/head.ejs %>
    <link href="/css/home.css" rel="stylesheet"/>
    <link href="//vjs.zencdn.net/5.8.8/video-js.css" rel="stylesheet">
</head>
<body class="index-page">
<!-- Navbar -->
<nav class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll">
    <% include partial/navbar.ejs %>
</nav>
<!-- End Navbar -->

<div class="wrapper">
    <div class="header" style="background-image: url('/img/bg.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="brand">
                        <h1>编程挑战赛</h1>
                        <h3><img src="/img/grapecityxian.png" height="48" alt="西安葡萄城信息技术有限公司"/></h3>
                        <div class="text-center">
                            <a class="btn btn-lg btn-success" href="/dashboard">
                                <span style="font-size: large">参与挑战</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main main-raised">
        <div class="section section-basic">
            <div class="container">
                <% if (typeof contest !== 'undefined' ) { %>
                <div class="title">
                    <h2><i class="fa fa-paragraph"></i> 最新战报:
                        <small>
                            <a href="<%= `/contests/${contest.name}` %>">
                                <%= contest.displayName %></a>
                        </small>
                    </h2>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header" data-background-color="purple">
                                <i class="fa fa-tasks"></i>
                            </div>
                            <div class="card-content">
                                <p class="category">挑战题数</p>
                                <h3 class="title"><%= contest.problems.length %>
                                    <small>道</small>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header" data-background-color="orange">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="card-content">
                                <p class="category">参与人数</p>
                                <h3 class="title"><%= contest.userCount %>
                                    <small>人</small>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header" data-background-color="red">
                                <i class="fa fa-trophy"></i>
                            </div>
                            <div class="card-content">
                                <p class="category">最高分</p>
                                <h3 class="title"><%= contest.maxScore %>/
                                    <small><%= contest.problems.length * 100 %></small>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <% } else { %>
                <div class="title">
                    <h3><i class="fa fa-stop"></i>系统中还没有任何竞赛，请和管理员联系</h3>
                </div>
                <% } %>

                <div class="space-100">
                </div>

                <div class="row text-center">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h2>规则和注意事项</h2>
                        <h5 class="text-left">规则解释权由西安葡萄城信息技术公司所有，如有变更，不做另行通知。<br/>
                            请自行关注<a href="/rules">详细规则页面</a></h5>
                        <div class="text-left">
                            <ul>
                                <li>赛事采用自动评测和计分系统，提交代码之后会自动编译并进行自动测试</li>
                                <li>解决方案的输入和输出数据的换行符是：'\n'</li>
                                <li>解决方案中不能出现如下关键字：<b>shutdown</b>, <b>eval</b>, <b>require</b>, <b>import</b>, <b>new Function</b></li>
                                <li>评测系统会根据该题所通过的用例数来计分，每题满分为100，积分规则为：{该题得分}={通过的用例数}<sup>2</sup></li>
                                <li>每个测试用例最长只能运行1秒，未在<b>1秒</b>内结束会被判超时</li>
                                <li>对一道题多次提交会扣分，除第一次提交，其他每次提交扣除5分，最高扣除25分，如果得分不足扣除分数则记零分</li>
                                <li>系统仅接受每道题的最后一次提交为有效分数</li>
                                <li>所有题目得分之和为本次竞赛总得分</li>
                                <li>荣誉榜仅记录总得分最高的前十名选手</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section-video">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-8 col-md-offset-2">
                        <h2>更多帮助?</h2>
                        <h4>我们精心准备了一个入门视频，你可以在这里点播</h4>
                    </div>
                    <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4">
                        <button class="btn btn-upgrade btn-lg" data-toggle="modal" data-target="#myModal">
                            开始播放视频
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include partial/footer.ejs %>
</div>
<!-- Sart Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">视频教程</h4>
            </div>
            <div class="modal-body">
                <video id="my-video" class="video-js" controls preload="auto" width="720" height="480"
                       poster="/img/play.jpg" data-setup="{}">
                    <source src="/video/play.mp4" type='video/mp4'>
                    <source src="/video/play.webm" type='video/webm'>
                    <p class="vjs-no-js">
                        To view this video please enable JavaScript, and consider upgrading to a web browser that
                        <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                    </p>
                </video>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-simple"
                        data-dismiss="modal">Close
                </button>
            </div>
        </div>
    </div>
</div>
<!--  End Modal -->
<% include partial/scripts.ejs %>
<script type="text/javascript">
    $().ready(function () {

        // the body of this function is in assets/material-kit.js
//        materialKit.initSliders();
        var window_width = $(window).width();

        if (window_width >= 992) {
            big_image = $('.wrapper > .header');

            $(window).on('scroll', materialKitDemo.checkScrollForParallax);
        }
        if ($(window).scrollTop() > 300) {
            $('nav.navbar-transparent').removeClass('navbar-transparent');
        }
    });
</script>
<script src="//vjs.zencdn.net/5.8.8/video.js"></script>
</body>
</html>