<!DOCTYPE html>
<html>
<% include ../partial/head.ejs %>
<body class="app">
<div class="wrapper">
    <% include ../partial/sidebar.ejs %>
    <div class="main-panel">
        <nav class="navbar navbar-transparent navbar-absolute">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="btn btn-white btn-lg" href="/problems">
                        <i class="fa fa-angle-left" style="font-size: x-large"></i></a>
                </div>
                <div class="collapse navbar-collapse">
                </div>
            </div>
        </nav>
        <div class="content">
            <div class="container-fluid">
                <div class="col-md-10 col-md-offset-1">
                    <div class="card">
                        <div class="card-header" data-background-color="green">
                            <h4 class="title">Add problem</h4>
                            <p class="category">Complete following problem information, all fields marked with star (*)
                                are required</p>
                        </div>
                        <div class="card-content">
                            <form method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Name<span
                                                        class="text-danger">*</span></label>
                                            <input type="text" name="name" class="form-control"
                                                   value="<%= form.name %>">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Title<span
                                                        class="text-danger">*</span></label>
                                            <input type="text" name="title" class="form-control"
                                                   value="<%= form.title %>">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label">Description<span
                                                        class="text-danger">*</span></label>
                                            <div class="form-group label-floating">
                                                <label class="control-label">Please give explanations of this
                                                    problem </label>
                                                <textarea class="form-control" name="description"
                                                          rows="4"><%= form.description %></textarea>
                                                <span class="material-input"></span></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label">Cases</label>
                                            <div>
                                                <div id="casesContainer">
                                                    <% if(form.cases) { %>
                                                    <% form.cases.forEach((c) => { %>
                                                    <div class="row" <%= c.id % 2 ? 'style="background: #eee;"' : '' %>>
                                                        <input type="hidden" name="cases.id" value="<%= c.id %>">
                                                        <div class="col-md-2 label label-info"><%= c.id %></div>
                                                        <div class="col-md-5">
                                                            <div class="form-group label-floating">
                                                                <label class="control-label">The input</label>
                                                                <textarea class="form-control" name="cases.input"
                                                                          rows="4"><%= c.input %></textarea>
                                                                <span class="material-input"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <div class="form-group label-floating">
                                                                <label class="control-label">The expect</label>
                                                                <textarea class="form-control" name="cases.expect"
                                                                          rows="4"><%= c.expect %></textarea>
                                                                <span class="material-input"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <% }); %>
                                                    <% } %>
                                                </div>
                                                <button id="addCase" class="btn btn-xs btn-primary">
                                                    <i class="fa fa-plus"></i> add
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-success pull-right">Save</button>
                                <button type="reset" class="btn btn-default pull-right">Reset</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% include ../partial/footer.ejs %>
    </div>
</div>
<% include ../partial/scripts.ejs %>
<script>

    $(document).ready(function () {
        $('#addCase').click(function (evt) {
            evt.preventDefault();

            var count = $('#casesContainer').children().length,
                fieldtag = $('<div class="row" ' + (count % 2 ? '' : 'style="background: #eee;"' ) + ' ></div>');
            fieldtag.append('<input type="hidden" name="cases[' + count + '][id]" value="' + (count + 1) + '">')
                .append('<div class="col-md-2"><div class="form-group">' + (count + 1) + '</div></div>')
                .append(createFormField('cases[' + count + '][input]', 'Inputs', 'Please give the inputs'))
                .append(createFormField('cases[' + count + '][expect]', 'Expects', 'Please give the expects'));
            $('#casesContainer').append(fieldtag);
            return false;
        });
    });

    function createFormField(name, label, tip) {
        var coltag = $('<div class="col-md-5"></div>'),
            formtag = $('<div class="form-group label-floating"></div>');
        formtag.append('<label class="control-label">' + tip + '</label>')
            .append('<textarea class="form-control" name="' + name + '" rows="4"></textarea>')
            .append('<span class="material-input"></span>');
        coltag.append(formtag);
        return coltag;
    }
</script>
<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
<script>tinymce.init({
        selector    : 'textarea',
        plugins     : [
            'advlist autolink lists link image charmap print preview hr anchor pagebreak',
            'searchreplace wordcount visualblocks visualchars code fullscreen',
            'insertdatetime media nonbreaking save table contextmenu directionality',
            'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc'],
        font_formats: 'Arial=arial,helvetica,sans-serif;Courier New=courier new,courier,monospace;Mono=monospace',
        toolbar1    : 'undo redo | insert | fontselect | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
        toolbar2    : 'print preview media | forecolor backcolor emoticons | codesample',
        image_advtab: true,
    });</script>
</body>
</body>
</html>