<!DOCTYPE html>
<html>
<head>
    <% include ../partial/head.ejs %>
    <link rel="stylesheet" type="text/css" href="/css/css3clock.css"/>
    <style>
        .landing-page .table-hover > tbody > tr:hover {
            color: black;
        }
    </style>
</head>
<body class="landing-page">
<!-- Navbar -->
<nav class="navbar navbar-transparent navbar-absolute">
    <% include ../partial/navbar.ejs %>
</nav>
<!-- End Navbar -->
<div class="wrapper">
    <div class="header header-filter" style="background-image: url('/img/bg2.jpg');">
        <div class="container" style="padding-top: 20vh">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="title">
                        <small style="color:white">欢迎参加：</small><%= form.contest.displayName %></h3>
                    <p><%= form.contest.description %></p>
                    <br/>
                    <h4>比赛时间</h4>
                    <p>
                        <i class="fa fa-clock-o" style="font-size: 2em"></i>
                        <b>
                            <%= form.contest.begin %>
                        </b> - <b>
                            <%= form.contest.end %>
                        </b>
                    </p>
                    <br/>
                    <h4>我的得分</h4>
                    <p><i class="fa fa-graduation-cap" style="font-size: 2em"></i>
                        <%= form.board.score %></p>
                </div>

                <div class="col-md-6">
                    <h3 class="title">荣誉榜</h3>

                    <% if (!form.top10 || form.top10.length === 0) { %>
                    <h5>该竞赛还没有人得分</h5>
                    <% } else { %>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th>姓名</th>
                            <th>得分</th>
                            <th class="text-right">邮箱</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% form.top10.forEach( (uc, i) => { %>
                        <tr>
                            <td class="text-center"><%= i + 1 %></td>
                            <td><%= uc.user.displayName %></td>
                            <td><%= uc.score %></td>
                            <td class="text-right"><%= uc.user.mail %>
                            </td>
                        </tr>
                        <% }) %>
                        </tbody>
                    </table>
                    <% } %>

                </div>
            </div>
        </div>
    </div>
    <div class="main main-raised">
        <div class="section text-center section-landing">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-md-offset-1"
                         style="min-height: 500px; background-color: #eee; padding: 10px 10px;">
                        <ul class="nav nav-pills" role="tablist">
                            <% form.contest.problems.forEach((p, i) => { %>
                            <li <%= (i == 0) ? 'class=active' : '' %>>
                                <a href="#<%= p.name %>" role="tab" data-toggle="tab">
                                    <%= i + 1 %>. <%= p.title %>
                                </a>
                            </li>
                            <% }) %>
                        </ul>
                    </div>
                    <div class="col-md-8" style="padding-left: 50px">
                        <div class="tab-content text-left">
                            <% form.contest.problems.forEach((p, i) => { %>
                            <div class="tab-pane <%= (i == 0) ? 'active' : 'text-left' %>" id="<%= p.name %>">
                                <div class="row">
                                    <h3 class="title col-md-8"><%= p.title %></h3>
                                    <div class="pull-right">
                                        <div class="btn-group">
                                            <a href="/problem" class="btn btn-primary">答题</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <hr/>
                                    <div style="min-height: 400px;">
                                        <%= p.description %>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include ../partial/footer.ejs %>
</div>
<% include ../partial/scripts.ejs %>
</body>
</html>