<!DOCTYPE html>
<html>
<head>
    <% include ../partial/head.ejs %>
    <link href="/css/home.css" rel="stylesheet"/>
    <style>
        .landing-page .table-hover > tbody > tr:hover {
            color: black;
        }

        .pagination {
            margin: 0;
        }
    </style>
</head>
<body class="landing-page">
<!-- Navbar -->
<nav class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll">
    <% include ../partial/navbar.ejs %>
</nav>
<!-- End Navbar -->
<div class="wrapper">
    <div class="header header-filter" style="background-image: url('/img/bg3.jpg');">
        <div class="container" style="padding-top: 15vh">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="title">
                        <small style="color:white">欢迎参加：</small><%= form.contest.displayName %></h3>
                    <p><%- form.contest.description %></p>
                    <br/>
                    <h4>比赛时间</h4>
                    <p>
                        <i class="fa fa-clock-o" style="font-size: 2em"></i>
                        <b>
                            <%= form.contest.begin %>
                        </b> - <b>
                            <%= form.contest.end %>
                        </b>
                    </p>
                    <br/>
                    <h4>我的得分</h4>
                    <p><i class="fa fa-graduation-cap" style="font-size: 2em"></i>
                        <%= form.board.score %></p>
                </div>

                <div class="col-md-6">
                    <h3 class="title">荣誉榜</h3>

                    <% if (!form.top10 || form.top10.length === 0) { %>
                    <h5>该竞赛还没有人得分</h5>
                    <% } else { %>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th>姓名</th>
                            <th>得分</th>
                            <th class="text-right">邮箱</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% form.top10.forEach( (uc, i) => { %>
                        <tr>
                            <td class="text-center"><%= i + 1 %></td>
                            <td><%= uc.user.displayName %></td>
                            <td><%= uc.score %></td>
                            <td class="text-right"><%= uc.user.mail %>
                            </td>
                        </tr>
                        <% }) %>
                        </tbody>
                    </table>
                    <% } %>

                </div>
            </div>
        </div>
    </div>
    <div class="main main-raised">
        <div class="section text-center section-landing">
            <div class="container">
                <div class="row">
                    <% if(form.contest.problems.length > 0) { %>
                    <div class="col-md-2 col-md-offset-1 col-sm-3 col-xs-3"
                         style="min-height: 700px; background-color: #eee; padding: 10px 10px;">
                        <ul class="nav nav-pills" role="tablist">
                            <% form.contest.problems.forEach((p, i) => { %>
                            <li <%= (i == 0) ? 'class=active' : '' %> style="width:100%;">
                                <a class="problemLink" href="#p_<%= i %>" role="tab" data-toggle="tab"
                                   data-pid="<%= p._id %>">
                                    <%= i + 1 %>. <%= p.title %>
                                </a>
                            </li>
                            <% }) %>
                        </ul>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-9" style="padding-left: 40px">
                        <div class="tab-content text-left">
                            <% form.contest.problems.forEach((p, i) => { %>
                            <div class="tab-pane <%= (i == 0) ? 'active' : 'text-left' %>" id="p_<%= i %>">
                                <div class="row">
                                    <h3 class="title col-md-8" style="max-width: 500px"><%= p.title %></h3>
                                    <div class="pull-right">
                                        <div class="btn-group" style="margin:30px 1px 0 1px">
                                            <button class="btn btn-success"
                                                    style="min-width: 100px;"
                                                    onclick="switchProblemTo('<%= p._id %>','<%= p.title %>')"
                                                    data-toggle="modal"
                                                    data-target="#myModal">答题
                                            </button>
                                            <a class="btn btn-warning"
                                               style="min-width: 100px;"
                                               href="/debug"
                                               target="_blank">调试工具</a>
                                        </div>
                                    </div>
                                </div>
                                <hr/>
                                <div class="row">
                                    <div class="col-md-12" style="min-height: 200px;">
                                        <%- p.description %>
                                    </div>
                                </div>
                                <hr/>
                                <div class="row">
                                    <div class="col-md-12" style="min-height: 300px;">
                                        <h5>Score: <span id="displyScore_<%= p._id %>">0</span></h5>
                                        <h5 id="submitHistoryList_<%= p._id %>">
                                            <div class="pull-left" style="margin-right: 20px;">历史提交记录：</div>
                                            <ul class="pagination pagination-info">
                                                <!--<li class="active"><a href="#">1</a></li>-->
                                            </ul>
                                        </h5>
                                        <div class="panel panel-default">
                                            <div id="submitHistoryContainer_<%= p._id %>" class="panel-body">
                                                请提交后在刷新查看
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                        </div>
                    </div>
                    <% } else { %>
                    <div class="col-md-6 col-md-offset-3" style="min-height: 100px;">
                        <h3>该比赛还没有任何题目，请稍后重试<br/>或者和管理员联系。</h3>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <% include ../partial/footer.ejs %>
</div>

<!-- Modal Core -->
<div class="modal fade" id="myModal" tabindex="-1"
     role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #eee">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title" id="myModalLabel"></h3>
            </div>
            <div class="modal-body">
                <input type="hidden" id="problemId" name="problemId" value=""/>
                <div class="row">
                    <ul id="warningList">
                    </ul>
                </div>
                <!--<div class="row">-->
                <!--<div class="col-md-4 dropdown">-->
                <!--<a href="#" class="btn btn-simple dropdown-toggle" data-toggle="dropdown">-->
                <!--选择答题环境-->
                <!--<b class="caret"></b>-->
                <!--</a>-->
                <!--<ul class="dropdown-menu">-->
                <!--<li class="active"><a href="#">javascript</a></li>-->
                <!--<li><a href="#">java</a></li>-->
                <!--<li><a href="#">csharp</a></li>-->
                <!--<li><a href="#">cpp</a></li>-->
                <!--<li><a href="#">python</a></li>-->
                <!--</ul>-->
                <!--</div>-->
                <!--</div>-->
                <div class="row">
                    <h5>请再下面的代码框里贴入你的JavaScript代码</h5>
                    <pre>
/**
 *
 * @param {string} input
 * @return {string}
 */
function process(input) {
</pre>
                    <textarea id="source" name="source" rows="10"
                              placeholder="在这里输入你的解决方案"
                              style="width:100%; padding-left: 20px; font-family: Consolas"></textarea>
                    <pre>}</pre>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnSubmitSolution"
                        style="margin-right: 10px;"
                        class="btn btn-primary btn-round">
                    <i class="fa fa-code"></i> 提交答案
                </button>
            </div>
        </div>
    </div>
</div>

<% include ../partial/scripts.ejs %>
<script type="text/javascript">
    function switchProblemTo(problemId, title) {
        $('#warningList').empty();
        $('#problemId').val(problemId);
        $('#myModalLabel').text(title);
    }

    $().ready(function () {
        var window_width = $(window).width();

        if (window_width >= 992) {
            big_image = $('.wrapper > .header');

            $(window).on('scroll', materialKitDemo.checkScrollForParallax);
        }
        if ($(window).scrollTop() > 300) {
            $('nav.navbar-transparent').removeClass('navbar-transparent');
        }

        var loadingProbemId;

        function loadProblemInfo(pid) {
            loadingProbemId = pid;
            $.ajax({
                url    : '/sapi/workspaces/contests/<%= form.contest._id %>/problems/' + pid,
                method : 'GET',
                success: function (data, status, jqXHR) {
                    if (pid === loadingProbemId) {
                        if (data.err) {
                            $('#warningList').append('<li class="text-danger">' + data.msg + '</li>');
                        } else {
                            $('#submitHistoryList_' + pid).empty();
                            $('#submitHistoryContainer_' + pid).empty();

                            $('#displyScore_' + pid).text(data.score);

                            if (data.solutions.length === 0) {
                                $('#submitHistoryList_' + pid).text('没有提交数据');
                                $('#submitHistoryContainer_' + pid).text('请提交后在刷新查看');
                            } else {
                                $('#submitHistoryList_' + pid).append('<div class="pull-left" style="margin-right: 20px;">历史提交记录：</div>');
                                var ul   = $('<ul class="pagination pagination-info"></ul>');
                                var page = $('<div class="tab-content" style="min-height: 120px;"></div>');
                                $.each(data.solutions, function (i, sln) {
                                    ul.append('<li ' + (i === 0 ? 'class="active"' : '') + '><a href="#ps_' + sln.id
                                        + '" data-toggle="tab" aria-expanded="false">' + (i + 1) + '</a></li>');
                                    var p     = $('<div class="tab-pane ' + (i === 0 ? 'active' : '') + ' " id="ps_' + sln.id + '"></div>');
                                    var table = $('<table class="table table-bordered"></table>');

                                    var tbody = $('<tbody></tbody>');

                                    var tr1 = $('<tr></tr>');
                                    tr1.append('<td colspan="2" class="text-info">runtime</td>');
                                    tr1.append('<td style="min-width: 200px;">' + sln.runtime + '</td>');
                                    tbody.append(tr1);

                                    var tr2 = $('<tr></tr>');
                                    tr2.append('<td colspan="2" class="text-info">status</td>');
                                    tr2.append('<td>' + sln.status + '</td>');
                                    tbody.append(tr2);

                                    if (sln.result) {
                                        var tr3 = $('<tr></tr>'), tr4 = $('<tr></tr>');
                                        tr3.append('<td rowspan="2" class="text-info">result</td>');
                                        tr3.append('<td class="text-info">score</td>');
                                        tr3.append('<td>' + (sln.result.score || 0) + '</td>');

                                        tr4.append('<td class="text-info">details</td>');
                                        var td4 = $('<td></td>');
                                        if (sln.results) {
                                            var tres = $('<table class="table table-hover"></table>');
                                            tres.append('<thead class="text-info"><tr><th>id</th><th>passed</th><th>reason</th></tr></thead>');
                                            var tbres = $('<tbody></tbody>');
                                            $.each(sln.results, function (ri, rd) {
                                                var tmptr = $('<tr></tr>');
                                                tmptr.append('<td>' + rd.id + '</td>');
                                                tmptr.append('<td>' + (!!rd.passed) + '</td>');
                                                tmptr.append('<td>' + (rd.result != null ? rd.result.toString().substr(0, 50) : '' ) + '</td>');
                                                tbres.append(tmptr);
                                            });
                                            tres.append(tbres);
                                            td4.append(tres);
                                        }
                                        tr4.append(td4);
                                        tbody.append(tr3);
                                        tbody.append(tr4);
                                    }

                                    var tr5 = $('<tr></tr>');
                                    tr5.append('<td colspan="2" class="text-info" >source</td>');
                                    tr5.append('<td><pre style="max-width: 420px">' + sln.source + '</pre></td>');
                                    tbody.append(tr5);

                                    table.append(tbody);
                                    p.append(table);
                                    page.append(p);
                                });
                                $('#submitHistoryList_' + pid).append(ul);
                                $('#submitHistoryContainer_' + pid).append(page);
                                console.log("done.......");
                            }
                        }
                    } else {
                        // already loading another problem
                    }
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert('出现通信错误，请刷新重试或者和管理员联系');
            }).always(function () {
                // remove this task
                delete loadingProbemId;
            });
        }

        <% if(form.contest.problems.length > 0) { %>
        setTimeout(function () {
            loadProblemInfo('<%= form.contest.problems[0]._id %>');
        }, 0);
        <% } %>

        $(".problemLink").click(function () {
            var pid = $(this).data('pid');
            setTimeout(function () {
                loadProblemInfo(pid);
            }, 0);
        });

        $('#btnSubmitSolution').click(function () {
            //need data: contestId problemId
            var problemId = $('#problemId').val(),
                source    = $('#source').val();
            if (!problemId) {
                $('#warningList').append('<li class="text-danger">当前竞赛或者题目未选择，请刷新页面重试</li>')
                return false;
            }
            if (!source) {
                $('#warningList').append('<li class="text-danger">没有代码，请输入后提交</li>')
                return false;
            }
            $.ajax({
                url     : '/sapi/workspaces/contests/<%= form.contest._id %>/problems/' + problemId,
                method  : 'POST',
                data    : {
                    source: source
                },
                dataType: 'json',
                success : function (data, status, jqXHR) {
                    $('#warningList').append('<li class="text-success">' +
                        '代码已提交，请等待服务器分配资源并判断正确性<br />' +
                        '通常这需要大约30秒左右<br /><br />' +
                        '<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>' +
                        '<span class="sr-only">加载中...</span>' +
                        '</li>');
                    setTimeout(function () {
                        $('#myModal').model('hide');
                    }, 1800);
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {
                $('#warningList').append('<li class="text-danger">发现问题，请和管理员联系</li>')
            });
        });
    });
</script>
</body>
</html>