<!DOCTYPE html>
<html>
<% include ../partial/head.ejs %>
<body class="app">
<div class="wrapper">
    <% include ../partial/sidebar.ejs %>
    <div class="main-panel">

        <nav class="navbar navbar-transparent navbar-absolute">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="btn btn-white btn-lg" href="/contests">
                        <i class="fa fa-angle-left" style="font-size: x-large"></i></a>
                </div>
                <div class="collapse navbar-collapse">
                </div>
            </div>
        </nav>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="card">
                        <div class="card-header" data-background-color="white">
                            <h4 class="title">Contest Details</h4>
                            <p class="category">Include contests on <%= new Date().toLocaleString('zh-Hans-CN') %></p>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <a class="btn btn-success"
                               href="/contests/<%= contest.name %>/edit"
                               style="margin-left: 40px;">
                                <i class="fa fa-edit"></i></a>
                            <a class="btn btn-danger"
                               href="/contests/<%= contest.name %>/remove">
                                <i class="fa fa-recycle"></i></a>
                        </div>
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <table class="table table-hover">
                                    <tbody class="small">
                                    <tr>
                                        <td>Name</td>
                                        <td><%= contest.name %></td>
                                    </tr>
                                    <tr>
                                        <td>Display Name</td>
                                        <td><%= contest.displayName %></td>
                                    </tr>
                                    <tr>
                                        <td>Description</td>
                                        <td><%= contest.description %></td>
                                    </tr>
                                    <tr>
                                        <td>Begin Date</td>
                                        <td><%= contest.begin.toLocaleString('zh-Hans-CN') %></td>
                                    </tr>
                                    <tr>
                                        <td>End Date</td>
                                        <td><%= contest.end.toLocaleString('zh-Hans-CN') %></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card">
                        <div class="card-content">
                            <div class="row">
                                <div class="panel">
                                    <div class="panel-body">
                                        <h5>available problems</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    <table class="table table-hover">
                                        <% if(contest.problems && contest.problems.length > 0) { %>
                                        <thead class="text-gray">
                                        <th>Name</th>
                                        <th>Display Name</th>
                                        <th style="width: 300px;">Description</th>
                                        </thead>
                                        <tbody class="small">
                                        <% contest.problems.forEach(function(problem){ %>
                                        <tr id="<%= problem.name %>">
                                            <td>
                                                <a href="/problems/<%= problem.name %>"><%= problem.name %></a>
                                            </td>
                                            <td><%= problem.title %></td>
                                            <td><%= problem.description %></td>
                                        </tr>
                                        <% }) %>
                                        </tbody>
                                        <% } else { %>
                                        <div class="h3 text-warning">There is no contest</div>
                                        <% } %>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% include ../partial/footer.ejs %>
    </div>
</div>
<% include ../partial/scripts.ejs %>
</body>
</html>