<!DOCTYPE html>
<html>
<% include ../partial/head.ejs %>
<body>
<div class="wrapper">
    <% include ../partial/sidebar.ejs %>
    <div class="main-panel">
        <% include ../partial/navbar.ejs %>
        <div class="content" style="min-height: calc(100% - 152px);">
            <div class="container-fluid">
                <div class="row">
                    <a class="btn btn-success"
                       href="/users/add"
                       style="margin-left: 20px;">
                        <i class="fa fa-plus"></i></a>
                </div>
                <div class="row">
                    <div class="card">
                        <div class="card-header" data-background-color="">
                            <h4 class="title">User List</h4>
                            <p class="category">Include users on <%= new Date().toLocaleString('zh-Hans-CN') %></p>
                        </div>
                        <div class="card-content">
                            <table class="table table-hover">
                                <thead class="text-gray">
                                <th>&nbsp;</th>
                                <th>Mail</th>
                                <th style="width: 50px;">Activated</th>
                                <th style="width: 50px;">Disabled</th>
                                <th>Display Name</th>
                                <th style="width: 200px;">profile Image URL</th>
                                <th>Created Date</th>
                                </thead>
                                <tbody class="small">
                                <% if(users && users.length > 0) { %>
                                <% users.forEach(function(user){ %>
                                <tr id="<%= user.mail %>">
                                    <td class="td-actions text-right">
                                        <a type="button" rel="tooltip" title="Edit"
                                                href="/users/edit?mail=<%= user.mail %>"
                                                class="btn btn-primary btn-simple btn-xs">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a type="button" rel="tooltip" title="Remove"
                                                href="/users/remove?mail=<%= user.mail %>"
                                                class="btn btn-danger btn-simple btn-xs">
                                            <i class="fa fa-remove"></i>
                                        </a>
                                    </td>
                                    <td><%= user.mail %></td>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" disabled <%= user.activated ? 'checked' : '' %> >
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" disabled <%= user.disabled ? 'checked' : '' %> >
                                            </label>
                                        </div>
                                    </td>
                                    <td><%= user.displayName %></td>
                                    <td><%= user.profileImageURL || 'N/A' %></td>
                                    <td><%= user.created.toLocaleString('zh-Hans-CN') %></td>
                                </tr>
                                <% }) %>
                                <% } else { %>
                                <span class="text-warning">There is no user</span>
                                <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="pull-right">
                        <div class="btn-group-xs">
                            <a class="btn btn-xs btn-round <%= form.prev.enable ? '' : 'disabled' %>"
                               href="<%= form.prev.url %>">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a class="btn btn-xs btn-round <%= form.next.enable ? '' : 'disabled' %>"
                               href="<%= form.next.url %>">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% include ../partial/footer.ejs %>
    </div>
</div>
</body>
<% include ../partial/scripts.ejs %>
</html>